
@import "bulma/sass/utilities/_all.sass";

body {
  /* TODO: Update font. */
  font-family: 'DM Mono', monospace;
  font-size: 20px;
}
tr.data {
  background-color: black;
  color: white;
}
.header {
  background-color: aqua;
  margin-bottom: 5em;
}
